body, html {
  background-color: black;
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    width: auto;
    font-family: monospace;
}
.intro{
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  transition: 1s;
}
.intro-header{
  position: absolute;
  font-size: clamp(2vw,1vw,3vw);
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  color: black;
}
.intro-logo{
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}
.intro-logo.active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.intro-image{
  position: absolute;
  width: 100%;
  z-index: 10;
  opacity: 0;
}
.intro-image.active{
  left: 0%;
  opacity: 1;
  animation: intro-image 1s;
}
.header1{
  position: absolute;
  transform: scaleX(-1);
  width: 30%;
  opacity: 0;
}
.header1.active{
  opacity: 1;
  top: 30%;
  right: 60%;
  animation: header1 2s;
}
p{
  color: white;
}
.navbar {
  width: 100%;
  position: relative;
}
.navbar a {
  position: relative;
  z-index: 2;
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 8px 35px;
  text-decoration: none;
  text-align: left;
  font-size: 2vw;
}
.navbar p{
top: 20%;
font-size: 1.4vw;
margin: 0;
}
.h1t{
  position: absolute;
  top: 40vh;
  font-size: 5vw;
  margin: 0px 150px 0px 150px;
  text-align: center;
}
.headertext{
  position: relative;
  text-align: center;
  font-size: clamp(2vw,1vw,3vw);
  margin: 0;
}
.contenttext{
padding-left: 50px;
font-size: clamp(2vw,1vw,3vw);
}
.text{
  position: relative;
  inline-size: 300px;
  left: -6%;
  margin-right: 0;
  overflow-wrap: break-word;
  font-size: clamp(1.5vw,0.5vw,3vw);
}
.down{
  position: relative;
  top: 30%;
}
#bg{
  position: relative;
  top: 10%;
  background-image:url("images/voiddeck.jpg");
  width: 100%;
  height: 50%;
}

.imgt{
  margin: 5% 0 5% 0;
  width: 20vw;
}

.boi{
    position: relative;
    height: 132px;
    width: 75px; 
    background-image:url("https://www.caveofprogramming.com/images/capguy-walk.png");
}
.header{
  position: relative;
  width: 100%;
}
.htext{
  position: absolute;
  top: 25%;
  left: 5%;
  font-size: 3vw;
}#dtext{
  position: absolute;
  top: 50%;
  width: 30%;
  left: 5%;
  font-size: clamp(1.3vw,1vw,20%);
}
.imgh{
  height: 40vw;
  width: 100%;
}
.m1{
  left: 10%;
  font-size: 1.2vw;
  width: 20%;
  bottom: 30%;
  overflow-wrap: break-word;
}
.m1-h{
  font-size: 1.5vw;
  margin: 0;
}
.m1-img{
  width: 20vw;
}
.flex{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  position: relative;
  justify-content:space-evenly;
  top: -25%;
}
.flex1{
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  position: relative;
  justify-content:space-evenly;
  top: 25%;
}
.flex2{
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  position: relative;
  justify-content:space-evenly;
  top: 25%;
}
.flex3{
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  position: relative;
  justify-content:space-evenly;
  top: -25%;
}
.flex4{
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  position: relative;
  justify-content:space-evenly;
  top: 1%;
  bottom: 100%;
}
.flex-img{
width: 20vw;
height: 40vh;
}
#flex-box{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
width: 20%;
padding: 2%;
font-size:larger;
margin: 0 0 0 0;
background-color: rgb(176, 176, 176);
}

#flex-box p{
  margin: 0;
  width: 100%;
}

div.tabs section{
  position: absolute;
  display: block;
  top: 30%;
  right: 10%;
  height: 40%;
  width: 26vw;
  padding: 3% 3%;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.1);
  z-index: 0;
}
div.tabs section:first-child{
  z-index: 1;
  background-color: white;
}

div.tabs section h2{
  position: absolute;
  font-size: 1vw;
  font-weight: normal;
  width: 2vw;
  height: 12.2vw;
  left: -7.5%;
  padding: 0.01vw;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  background-color: rgb(210, 210, 210);
}
div.tabs
{
  display: block;
}
div.tabs section:nth-child(1) h2{
  top:0%;
}
div.tabs section:nth-child(2) h2{
  top:50%;
}

div.tabs section h2 a{
  display: block;
  width: 100%;
  line-height: 1.8vw;
  text-align: center;
  text-decoration: none;
  color: inherit;
  outline: 0 none;
}
div.tabs section:target, div.tabs section:target h2{
  background-color: white;
  z-index: 2;
}
.text1{
  font-size: 1vw;
}
div.tabs p{
  color: rgb(0, 0, 0);
  margin: 0;
  font-size: 1vw;
}
.boxs{
  height: 70px;
  width: 30%;
  margin: 2px;
  font-size: clamp(1.3vw,1.1vw,1.8vw);
}
.round{
  border-radius: 5%;
  justify-content: center;
  width: 20vw;
  background-color: white;
}
.popup{
  position: relative;
  left: 45%;
  margin: 0;
  width: 30%;
  font-size: 2vw;
  animation: popup 3s infinite alternate;
}
.walk{
  background-image:url("https://www.caveofprogramming.com/images/capguy-walk.png");
  animation: walk .9s steps(8) infinite;
}

section.active{
  animation: tabs 1s;
}
@keyframes tabs {
  from { left: 400%; }
  to { left:0%; }
}
@keyframes header1 {
  from { right: 100%; }
  to { right: 60%; }
}
@keyframes popup{
  from{top: 0%;}
  to {top:-30%}
}
@keyframes intro-image{
  from { left: 400%; }
  to { left:0%; }
}
@keyframes walk {
  from { background-position:0px; }
  to { background-position:-600px; }
}
@media screen and (max-width: 721px) {
  .flex{
    flex-direction: column; 
    justify-content: center;
    left: 40%;
    margin: 0;
  }
  .flex4{
    top: -10%;
  }
  .flex-img{
    height: 20vh;
  }
  @keyframes header1 {
    from { right: 100%; }
    to { right: 50%; }
  }
  .header1.active{
    width: 40%;
    right: 50%;
  }
  .text{
    inline-size: 200px;
  }
  .text1{
    font-size: 2vw;
  }
  div.tabs section{
    height: 25%;
  }
  div.tabs section h2{
    font-size: 2vw;
    left: -10%;
    height: 15.2vw;
    width: 3vw;
  }
  div.tabs p{
    font-size: 1.5vw;
  }
  .h1t
  {
    top: 10vh;
  }
}
@media screen and (max-width: 541px) {
  @keyframes popup{
    from{top: 0%;}
    to {top:-15%}
  }
  .flex{
    flex-direction: column; 
    justify-content: center;
    left: 40%;
    margin: 0;
  }
  .flex3{
    top: -10%;
  }
  .flex-img{
    height: 20vh;
  }
  div.tabs section h2{
    font-size: 2vw;
    left: -10%;
    height: 20.2vw;
    width: 3vw;
  }
  .text{
    inline-size: 300px;
  }
  .m1{
    width: 20%;
  }
  .text{
    inline-size: 150px;
  }
  .htext{
    top: 35%;
  }
  #dtext{
    top: 55%;
  }
  .boxs{
    height: 40px;
  }
  .h1t
  {
    top: 10vh;
  }
  .imgh{
    left: 40%;
  }
  p{
    margin: 0;
  }
}